body {
	font-family: Arial, sans-serif;
	background-color: #f9f8f2;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
}

main {
	margin-left: 240px;
	padding: 20px;
}

header {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 1rem;
	margin-left: 240px;
	padding: 20px;
	background-position: bottom;
	background-image: url('https://i.imgur.com/AU3UYzp.jpg');
}

a {
	color: blue;
	text-decoration: underline;
}

a:hover {
	color: darkblue;
	text-decoration: underline;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

p {
	font-size: 1rem;
	line-height: 1.5;
}

nav {
	height: 48px;
	margin-left: 260px;
	margin-right: 20px;
}

nav ul {
	padding: 2px;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
}

nav li a {
	font-family: Arial, sans-serif;
	color: black;
	font-size: 1.3rem;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
	color: black;
}

form {
	text-align: center;
	margin: 0 auto;
	width: calc(100% - 102px); /* 100% minus (aside width (100px) + border width (2px)); */
	box-sizing: border-box;
	max-width:1150px;

}

.social-links {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.social-links a {
	margin: 0 1rem;
}

.social-links img {
	height: 48px;
}

.linkedin-logo {
	width: 177px;
}

.github-logo, .email-logo, .pdf-logo {
	width: 48px;
}

.center {
	text-align: center;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 240px;
	background-color: #c9dcf9;
	padding: 20px;
	box-sizing: border-box;
}

.page_wrapper {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.profile-photo {
	width: 100%;
	height: auto;
	border-radius: 50%;
	object-fit: cover;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 1rem;
	justify-content: center;
}

.projects-container {
	max-width: 1200px;
	margin: 0 auto;
}

.project {
	position: relative;
	width: auto;
	height: auto;
	margin: 15px;
	background-color: #ffc5d3;
	border: 1px solid #dfadb9;
	margin-bottom: 20px;
	cursor: pointer;
	transition: height 0.3s;
	padding: 1rem;
	border-radius: 4px;
}

.project img {
	top: 100%;
	left: 0;
	white-space: nowrap;
	width: 100%;
	height: auto;
	display: block;
	padding: 5px;
}

.project:hover {
	transform: scale(1.3);
	transition: transform 0.3s ease;
	cursor: pointer;
	z-index: 1;
}

.project-images {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	white-space: nowrap;
}

.project-title {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.project-link {
	font-size: 0.875rem;
}

.project-images-visible {
	display: block;
}

.intro_paragraphs {
	max-width: 1150px;
	margin: 0 auto;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffc5d3; /* blank screen */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.playButton {
  width: 100px;
  height: 100px;
  background-color: white;
  border: none;
  border-radius: 50%; /* circle */
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.playButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 0;
  height: 0;
  border-left: 40px solid black;  /* triangle color */
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.playButton:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
	.sidebar {
		display: none;
	}

	main {
		margin-left: 0px;
	}

	header {
		margin-left: 0px;
	}

	nav {
		margin-left: 20px;
	}
}

@media screen and (max-width: 1000px) {
	.project:hover {
		transform: scale(1);
	}
}